/*Stylesheet for Float: Angelina Jolie Edition!*/

#background{
	background-image: url('https://scontent-lga.xx.fbcdn.net/hphotos-xfa1/t31.0-8/10532900_10152885251441483_3808958820867707015_o.jpg');
	background-repeat: no-repeat;
	background-color: black;
	position:absolute;
	min-height: 100%;
	height: auto;
	width: 100%;
	top: 0px;
	left: 0px;
	overflow: auto;
}

#menubar {
	clear: both;
	font-size: 30px;
	margin: 0;
	padding: 0;
	text-align: center;
}

#menubar a{
	display: inline-block;
}

#menubar li{
	font-family: 'Courier New Bold', monospace;
	font-size: 20px;
	display: inline-block;
	color: white;
	background-color: ;
	text-align: center;
	line-height: 40px;
	width: 200px;
	float: left;
	opacity: 1;
}

#menubar li:hover{
	background-color: white;
	opacity: .7;
	color: black;
}

#menubar li ul{
	padding: 0px;
	text-align: center;
}


a:link{
	text-decoration: none;
	color: #055912;
}

a:visited{
	text-decoration: none;
	color: gray;
}
/*CSS for index.html*/

.title{
	height: auto;
	line-height: auto;
	font-family: 'Courier New Bold', monospace;
	color: white;
	font-size: 48px;
	text-align: center;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

#title{
	height: auto;
	line-height: auto;
	font-family: 'Courier New Bold', monospace;
	color: white;
	font-size: 58px;
	text-align: center;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	padding-top: 25%;
}

/*CSS for about.html*/

.about_text{
	background-color: rgba(255, 255, 255, 0.8);
	color: black;
	width: 660px;
	height: auto;
	padding: 30px;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Courier New';
	overflow: scroll;
	height: 450px;
}

.see_more{
	color: #000047;
	font-size: 20px;
}

/*CSS for more.html*/

.more_text{
	background-color: rgba(255, 255, 255, 0.8);
	color: black;
	width: 660px;
	height: auto;
	padding: 30px;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Courier New';
	overflow: scroll;
	height: 450px;
	text-align: center;
}

/*CSS for photogallery.html*/

.gallery{
	background-color: rgba(255, 255, 255, 0.8);
	width: 660px;
	height: auto;
	padding: 30px;
	top: 250px;
	margin-right: auto;
	margin-left: auto;
	overflow: scroll;
	height: 450px;
}

#mainimage img{
	height: 200px;
	width: auto;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;

}

#float_img img{
	position:relative;
	width: 100px;
	top: -50px;
}



