/*Stylesheet*/

/*Background, marble photo and a black back-up*/
html{
	background-image: url('./Photos/whitemarble.jpg');
	background-size: cover;
	background-color: black;
	height: 100%;
	background-repeat: no-repeat;
}

/*CSS for menubar on all pages but the home page*/
.menubar {
	clear: both;
	font-size: 25px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.menubar a{
	display: inline-block;
}

.menubar li{
	font-family: 'Century Gothic','CenturyGothic','AppleGothic',sans-serif;
	font-size: 20px;
	display: inline-block;
	color: black;
	text-align: center;
	line-height: 40px;
	width: 160px;
	float: left;
}

.menubar li:hover{
	opacity: .7;
	color: #990000;
}

/*CSS for menubar on the home page ONLY*/
#menubar {
	clear: both;
	font-size: 30px;
	margin: 0;
	padding: 0;
	text-align: center;
}

#menubar a{
	display: inline-block;
}

#menubar li{
	font-family: 'Century Gothic','CenturyGothic','AppleGothic',sans-serif;
	font-size: 20px;
	display: inline-block;
	color: black;
	text-align: center;
	line-height: 40px;
	width: 140px;
	float: left;
}

#menubar li:hover{
	opacity: .7;
	color: #990000;
}

/*CSS for social media footer on the home page*/
#footer {
	clear: both;
	margin: 0;
	padding: 0;
	bottom: 5px;
	position: fixed;
	text-align: center;
	width: 100%;
}

#footer li{
	font-family: 'Century Gothic','CenturyGothic','AppleGothic',sans-serif;
	font-size: 15.5px;
	display: inline-block;
	color: black;
	line-height: 20px;
	width: 100px;
}

#footer li:hover{
	/*background-color: white;*/
	/*font-weight: bold;*/
	opacity: .7;
	color: #990000;
}

#footer li ul{
	text-align: center;
}

/*CSS for hyperlinks, resume & writing pages*/
a:link{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline;
}

a:visited{
	text-decoration: none;
	color: gray;
}


/*CSS for index.html*/

.title{
	height: auto;
	line-height: auto;
	font-family: 'Century Gothic','CenturyGothic','AppleGothic',sans-serif;
	color: black;
	font-size: 48px;
	text-align: center;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

#title{
	font-family: 'Century Gothic','CenturyGothic','AppleGothic',sans-serif;
	color: black;
	text-align: center;
	padding-top: 25%;
	font-size: 58px;
}

.hidden{
	display: none;
}

/*CSS for about.html*/

.resume_text{
	background-color: #FBFAF5;
	opacity: .7;
	color: black;
	height: auto;
	top: 170px;
	bottom: 7%;
	position: fixed;
	width: 65%;
	margin-left: 15%;
	margin-right: 22%;
	padding: 30px;
	font-family: 'Century Gothic','CenturyGothic','AppleGothic',sans-serif;
	overflow: scroll;
}

h1 {
	text-align: center;
	font-family: 'Century Gothic','CenturyGothic','AppleGothic',sans-serif;
	font-weight: bold;
	font-size: 20px;
}

/*CSS for photogallery.html*/

	.gallery{
		background-color: #FBFAF5;
		opacity: .7;
		height: 35px;
		margin-left: 15%;
		width: 70%;
		padding-top: 4px;
		overflow-y: hidden;
		display: inline-block;
		text-align: center;
		white-space:nowrap;
	}

	#images img{
		height: 30px;
		width: auto;
		float: none;
		text-align: center;
	} 

    #scroller {
        position: relative;
    }

    #scroller .innerScrollArea {
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    #scroller .captions ul {
    	color: white;
		font-family: 'Century Gothic','CenturyGothic','AppleGothic',sans-serif;
		top:340px;
		position: relative;
		text-align: center;
    }

    #scroller ul {
        padding: 0;
        margin: 0;
        position: relative;
    }
    #scroller li {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: absolute;
    }
	
	#scroller a { 
	display: inline-block; 
	}

    .gallery{
		background-color: #FBFAF5;
		opacity: .7;
		height: 36px;
		margin-left: 15%;
		width: 70%;
		padding-top: 4px;
		overflow-y: hidden;
		display: inline-block;
		white-space:nowrap;
	}

	#images img{
		height: 30px;
		width: auto;
		float: none;
	} 

/*CSS for writing.html*/

.writing_text{
	background-color: #FBFAF5;
	opacity: .7;
	color: black;
	height: auto;
	top: 170px;
	bottom: 7%;
	position: fixed;
	width: 65%;
	margin-left: 15%;
	margin-right: 22%;
	padding: 30px;
	font-family: 'Century Gothic','CenturyGothic','AppleGothic',sans-serif;
	overflow: scroll;
	text-align: center;
}

h2 {
	text-align: center;
	font-family: 'Century Gothic','CenturyGothic','AppleGothic',sans-serif;
	font-weight: bold;
	font-size: 20px;
}

