/*Stylesheet for Elizabeth Personal Website*/

#background{
	background-image: url('https://scontent-lga.xx.fbcdn.net/hphotos-xfa1/t31.0-8/10532900_10152885251441483_3808958820867707015_o.jpg');
	background-size: cover;
	background-color: black;
	position:absolute;
	min-height: 100%;
	height: auto;
	width: 100%;
	top: 0px;
	left: 0px;
	overflow: auto;
}

/*CSS for menubar on all pages but the home page*/
#menubar {
	clear: both;
	font-size: 30px;
	margin: 0;
	padding: 0;
	text-align: center;
}

#menubar a{
	display: inline-block;
}

#menubar li{
	font-family: 'Courier New Bold', monospace;
	font-size: 20px;
	display: inline-block;
	color: white;
	text-align: center;
	line-height: 40px;
	width: 200px;
	float: left;
}

#menubar li:hover{
	background-color: white;
	opacity: .7;
	color: black;
	font-weight: bold;
}

#menubar li ul{
	padding: 0px;
	text-align: center;
}

/*CSS for social media footer on the home page*/
#footer {
	clear: both;
	margin: 0;
	padding: 0;
	bottom: 5px;
	position: fixed;
	text-align: center;
	width: 100%;
}

#footer a{
	display: inline-block;
}

#footer li{
	font-family: 'Courier New Bold', monospace;
	font-size: 15.5px;
	display: inline-block;
	color: white;
	text-align: center;
	line-height: 20px;
	width: 100px;
	float: left;
}

#footer li:hover{
	background-color: white;
	font-weight: bold;
	opacity: .7;
	color: black;
}

#footer li ul{
	padding: 0px;
	text-align: center;
}

/*CSS for hyperlinks*/
a:link{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline;
}

a:visited{
	text-decoration: none;
	color: gray;
}


/*CSS for index.html*/

.title{
	height: auto;
	line-height: auto;
	font-family: 'Courier New Bold', monospace;
	color: white;
	font-size: 48px;
	text-align: center;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

#title{
	height: auto;
	line-height: auto;
	font-family: 'Courier New Bold', monospace;
	color: white;
	font-size: 58px;
	text-align: center;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	padding-top: 25%;
}

/*CSS for about.html*/

.resume_text{
	background-color: rgba(255, 255, 255, 0.8);
	color: black;
	height: auto;
	top: 170px;
	bottom: 7%;
	position: fixed;
	width: 65%;
	margin-left: 15%;
	margin-right: 22%;
	padding: 30px;
	font-family: 'Courier New';
	overflow: scroll;
}

h1 {
	text-align: center;
	font-family: 'Courier New';
	font-weight: bold;
	font-size: 16px;
}

/*CSS for photogallery.html*/

	.gallery{
		background-color: rgba(255, 255, 255, 0.8);
		height: 35px;
		margin-left: 15%;
		width: 70%;
		padding-top: 4px;
		overflow-y: hidden;
		display: inline-block;
		white-space:nowrap;
	}

	#images img{
		height: 30px;
		width: auto;
		float: none;
	} 

    #scroller {
        position: relative;
    }

    #scroller .innerScrollArea {
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    #scroller .captions ul {
    	color: white;
		font-family: 'Courier New Bold', monospace;
		top: 380px;
    }

    #scroller ul {
        padding: 0;
        margin: 0;
        position: relative;
    }
    #scroller li {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: absolute;
    }

    .gallery{
		background-color: rgba(255, 255, 255, 0.8);
		height: 36px;
		margin-left: 15%;
		width: 70%;
		padding-top: 4px;
		overflow-y: hidden;
		display: inline-block;
		white-space:nowrap;
	}

	#images img{
		height: 30px;
		width: auto;
		float: none;
	} 

/*CSS for writing.html*/

.writing_text{
	background-color: rgba(255, 255, 255, 0.8);
	color: black;
	height: auto;
	top: 170px;
	bottom: 7%;
	position: fixed;
	width: 65%;
	margin-left: 15%;
	margin-right: 22%;
	padding: 30px;
	font-family: 'Courier New';
	overflow: scroll;
	text-align: center;
}

h2 {
	text-align: center;
	font-family: 'Courier New';
	font-weight: bold;
	font-size: 16px;
}

